In [1]:
2+2

4

In [2]:
45*9

405

In [1]:
10//3

### level01
- variable
- datatypes
- operator
 ### level02
 - if
 - elseif
 - else
 - conditional loop
 ### level03
 - list
 - tuple
 - Dicitionary

In [1]:
age = 10
is_married = False
name = 'bob'
value = 1.323

In [2]:
x = 10000857875858778575

In [6]:
x = 10**4299
print(x)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [7]:
x = 1.10
y = 1.0 
z = -35.59
z = 87.7e100

In [12]:
name = "bruce wayne 01"
color = 'yellow'
Institute = 'digipodium'

In [13]:
is_coding = True
is_fun = True
are_u_bored = False

In [16]:
x = 5
y = 4

In [14]:
a = [5,10,25,20,25,30,35,40]
vals = [1,2.2,'python']
colors = ['red','green','yellow']

In [11]:
a = (5,10,15,25,30,35,40)
vals = (1,2.2,'python')
colors = ('red','green','yellow')

In [20]:
car_info = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year"  : 1964
}

### Operator
- Airthmetic
- Assignment
- Comparison
- Logical
- Identity(*)
- Membership(*)
- Bitwise

### Airthmetic
- Addition (+)
- Substraction (-)
- Multiplication (*)
- Division (/)
- Modulus  (%)
- Floor Division (//)
- Exponentition (**)
### Comparison
- Equal
- Not Equal
- Greater Than
- Less Than
- Greater than or equal to
- Less than equal to
### Logical
- and (return true if both statementare true)
- or (return true if one of the statemnet is true)
- not (reverse the result, returns false if the result is true)
### Identity
- is (returns true if both variables are the same object)
- is not (returns true if both variables are not the same object)
### Membership
- in (return true if a sequence with the specified value is present in the object)
- not in (returns true if a sequence with specified with the specified value is not present in the object)
### Bitwise 
- &
- |
- ^
- ~
- <<
- >>

In [31]:
print (x+y)
print (x-y)
print (x*y)
print (x/y)
print (x//y)

6.0
4.0
5.0
5.0
5.0

In [22]:
2**3+5/3

9.666666666666666

In [23]:
(3+2)*(5*3)/(3*5)

5.0

In [9]:
a = 100 # a will get 100
a += 15 
a -= 10

In [10]:
a *= 10 # multiply 10 with current vakue of a
a %= 5
print(a)

0

comparison operator

In [17]:

print(x > y)
print(x < y)
print(x == 100)
print(x != 30)
print(x >=50)
print(x <=20)

True
False
False
True
False
True

Logical operators for multiple condition

In [5]:
a = 15
b = 20

In [6]:
a > 10 and b >a

True

In [7]:
a < 10 or b >10

True

any value other than 0 is true

In [9]:
bool(0) #True

False

In [11]:
name = input("enter name:")
bool (name)

False

In [8]:
not a

False

membership operator 'in' or 'not in'

In [19]:
x = [3,56,45,78,23,67,21,278,231,212,6]

In [15]:
10 in x

False

In [16]:
78 in x

True

In [17]:
20 not in x

True

In [18]:
23 not in x

False

user input `input(prompt)`=> `string`
type casting -> convert one datatypes to another
`int -> convert data into integer`
`float() -> convert data into float`
`

In [21]:
int (10.1111)

10

In [22]:
int(True)

1

In [23]:
int(False)

0

In [1]:
str('hello')

'hello'

In [26]:
str(1010)

'1010'

back to input function

In [31]:
name = input("enter ur name")
phone = input('enter ur contact')
age = int(input('enter ur age:'))

In [5]:
p = int(input('PRICIPLE AMT:'))
r = float(input('RATE OF INTREST'))
t = int(input('TIME IN YEARS:'))
si = p*r*t/100
print(f'enter the principle ={p}')
print(f'enter the rate ={r}')
print(f'enter the time ={t}')
print(f'si= {si}')

enter the principle1000
enter the rate10.0
enter the time 5
si= 500.0

# wap to calc area and circumfrence of circle using diameter as input

In [2]:
d = int(input('enter the diameter'))
r =int(d/2) 
pie = 3.14
area = pie*r*r
print(area)
c = 2*pie*r
print(c)

50.24
25.12

displaying information to user

In [3]:
x = input('your name')
y = int(input('how many badges:'))
print(f'{x} got {y} badges')

Sneha got 1 badges

In [5]:
x = input('enter ur name')
y = int(input('enter ur age'))
z = input(f'enter ur course')
print(f'Name:{x}')
print(f'Age:{y}')
print(f'Course:{z}')

Name:Sneha
Age:21
Course:Btech (Computer Science)

'

In [102]:
x = 20
y = 30
if(x>y):
    print("x is greater")
else:
        print("y is greater")

y is greater

In [5]:
ount=int(input("enter a value"))
if count>5:
    print("You are going to run this part")
if count>15:
    print("You are going to see this part also")
    if count%2==0:
        print("count is even")
c

You are going to run this part
You are going to see this part also
count is even

In [82]:
a=3
b=5
c=3
if a>b and a>c:
    print(f'{a=} is greater')
if b>c and b>a:
    print(f'{b=} is greater')
if c>a and c>b:
    print(f'{c=} is greater')

In [98]:
a=int(input('enter first number:'))
b=int(input('enter the second nuber:'))
if a>=b:
    print('I am a genius')
else:
         print('you are a fool')

you are a fool

In [95]:
list=['chrome','gallery','uber','zomato','messages','fb']
print (len(list))

6

In [101]:
username=input('Enter your name:')
email=input('Enter ypur email:')
pwd=input('enter ypur password:')
pwd2=input('Confirm your password:')
if len(username)>=4 and len(username)<=15:
    if'@' in email and email.islower() and len(email)>10:
        if len(pwd)>=6 and pwd!=username:
            if pwd==pwd2:
             print('Hurray 😁')
        else:
                print('passwords do not match😒')
    else:
                    print('password do not match 🤦‍♀️')
else:
                        print('pass is invalid 🤷‍♂️')

Hurray 😁

### if-elif

In [99]:
name=input('Enter your name')
max_marks=int(input('Enter the marks:'))
if max_marks>90:
    print('You are outstanding')
elif max_marks>75:
        print('Your are intelligent')
elif max_marks>60:
            print('You are a good performer')
else:
                print('Poor')

Your are intelligent

task 1

wap to primnt if the len of a string is evenor odd ,from a list of string

14 - feb - 2023
range() function
range (100) - 0 to 99
range (10,50) - 1 to 99, step 5
range(1,100,5) - 100 to 1,step-1
range(0,100,2) - 0 to 99,step 2 (even number)
range (1,100,2)- 1 to 99,step2 (odd nuber)

more for loop

In [ ]:
flowers

In [ ]:
flowers

In [2]:
flowers = ['rose','jasmine','lotus','lilly']
for flower in flowers:
    print(flower)

rose
jasmine
lotus
lilly

In [3]:
for i, flower in enumerate (flowers):
    print(i,flower)

0 rose
1 jasmine
2 lotus
3 lilly

In [5]:
x = [1,2,3,4,5,6]
y = [3,5,6,7,8,2]
# use the formula (a +b)**2 for each pair of values from both list
for i, j in zip(x,y):
  print(f'({i} + {j})**2 = {(i+j)**2}')

(1 + 3)**2 = 16
(2 + 5)**2 = 49
(3 + 6)**2 = 81
(4 + 7)**2 = 121
(5 + 8)**2 = 169
(6 + 2)**2 = 64

break and contiue

In [10]:
a = [1,3,4,6,6,1,0,2,3,4,0,0,5,6,7,9,5,3,5]
for i in a:
    if i == 0: continue
    print(i)

1
3
4
6
6
1
2
3
4
5
6
7
9
5
3
5

In [5]:
names = ['Sam','Sara','Alexa','','Alex','Jhon','Jill','Jack']
for name in names:
    if len(names) == 0: break
    print(name)

Sam
Sara
Alexa

Alex
Jhon
Jill
Jack

In [4]:
names = ['Sam','Sara','Alexa','','Alexa','Jhon','','Jill','Jack']
for name in names:
    if len(names) == 0:
        print('Error: Empty name found')
        break
    print(name)

Sam
Sara
Alexa

Alexa
Jhon

Jill
Jack